<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:color="http://www.w3.org/1999/xhtml">

<head>
    <title>SJ SuperBowl</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/SBstyle.css"/>

    <script src="/SBscript.js"></script>
</head>

<body id="PageBody" class="current-page-1">

<div id="Header">

    <div id="PageNavigation">
        <div>
            <a href="/logout" class="menu-item" data-target="content-page-4" data-index="3"
               style='color: rgb(88, 214, 30)'>Log out
            </a>
        </div>
        <div>
            <a href="/" class="menu-item" data-target="content-page-1" data-index="1">Home</a>
        </div>
        <div class="dropdown">
            <a class="dropbutton">Decade</a>
            <div class="dropdown-content">
                <a href="/decade/1960">1960</a>
                <a href="/decade/1970">1970</a>
                <a href="/decade/1980">1980</a>
                <a href="/decade/1990">1990</a>
                <a href="/decade/2000">2000</a>
                <a href="/decade/2010">2010</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbutton">Genres</a>
            <div class="dropdown-content">
                <a href="/genre/action">Action</a>
                <a href="/genre/comedy">Comedy</a>
                <a href="/genre/relation">Relation</a>
                <a href="/genre/drama">Drama</a>
                <a href="/genre/romance">Romance</a>
                <a href="/genre/adventure">Adventure</a>
                <a href="/genre/sport">Sport</a>
            </div>

        </div>
        <div class="dropdown">
            <a class="dropbutton">Products</a>
            <div class="dropdown-content">
                <a href="/category/technology">Technology</a>
                <a href="/category/automobile">Automobile</a>
                <a href="/category/food">Food</a>
                <a href="/category/sport">Sport</a>
                <a href="/category/clothes">Clothes</a>
                <a href="/category/accessories">Accessories</a>
                <a href="/category/service">Service</a>
            </div>
        </div>
    </div>
    <button id="hamburger">
        <img src="/burgermenu-icon.png"/>
    </button>
</div>
<div class="LogoSearchBar">
    <img id="Logo" src="/SBlogo.png"/>
    <div id="SearchBar">
        <form method="POST" action="/search">
            <input class="SearchBox" type="field" name="searchBar" size="100"/>
            <input class="SearchButton" type="submit" value="GO SEARCH!"/>
        </form>
    </div>
    <div id="PageContent">
        <div id="BoxContainer">
            <div id="Box1" class="Box" th:if="${#lists.size(listOfVideos) gt 0}">
                <th th:text="${listOfVideos[0].videoName}"></th>
                <img class="pkImage" th:if="${listOfVideos[0].PK}" th:src="@{/ok1.png}"/>
                <img class="pkImage" th:if="${not listOfVideos[0].PK}" th:src="@{/no.png}"/>
                <div id="VideoBox1" class="VideoBox">
                    <iframe th:src="${listOfVideos[0].embeddedUrl}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div id="TextBox1" class="TextBox">
                    <th th:text="${listOfVideos[0].description}"></th>
                </div>
            </div>

            <div id="Box2" class="Box" th:if="${#lists.size(listOfVideos) gt 1}">
                <th th:text="${listOfVideos[1].videoName}"></th>
                <img class="pkImage" th:if="${listOfVideos[1].PK}" th:src="@{/ok1.png}"/>
                <img class="pkImage" th:if="${not listOfVideos[1].PK}" th:src="@{/no.png}"/>
                <div id="VideoBox2" class="VideoBox">
                    <th th:if="${listOfVideos[1]} != null">
                        <iframe th:src="${listOfVideos[1].embeddedUrl}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
                <div id="TextBox2" class="TextBox">
                    <th th:text="${listOfVideos[1].description}"></th>
                </div>
            </div>

            <div id="Box3" class="Box" th:if="${#lists.size(listOfVideos) gt 2}">
                <th th:text="${listOfVideos[2].videoName}"></th>
                <img class="pkImage" th:if="${listOfVideos[2].PK}" th:src="@{/ok1.png}"/>
                <img class="pkImage" th:if="${not listOfVideos[2].PK}" th:src="@{/no.png}"/>
                <div id="VideoBox3" class="VideoBox">
                    <iframe th:src="${listOfVideos[2].embeddedUrl}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div id="TextBox3" class="TextBox">
                    <th th:text="${listOfVideos[2].description}"></th>
                </div>
            </div>

            <div id="Box4" class="Box" th:if="${#lists.size(listOfVideos) gt 3}">
                <th th:text="${listOfVideos[3]?.videoName}"></th>
                <img class="pkImage" th:if="${listOfVideos[3].PK}" th:src="@{/ok1.png}"/>
                <img class="pkImage" th:if="${not listOfVideos[3].PK}" th:src="@{/no.png}"/>
                <div id="VideoBox4" class="VideoBox">
                    <iframe th:src="${listOfVideos[3]?.embeddedUrl}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div id="TextBox4" class="TextBox">
                    <th th:text="${listOfVideos[3]?.description}"></th>
                </div>
            </div>
        </div>
        <div class="Pagination">
            <div th:if="${showPrev}">
                <a th:href="'/' + ${url} + '/' + ${currentPage-1}" style='color: white'>
                    <button class="PageButton"><<</button>
                </a>
            </div>
            <div th:each="page : ${pages}">
                <div th:if="${currentPage == page}" th:text="${page}"></div>
                <a th:if="${currentPage != page}"
                   th:href="'/' + ${url} + '/' + ${page}" th:text="${page}" style='color: white'></a>
            </div>
            <div th:if="${showNext}">
                <a th:href="'/' + ${url} + '/' + ${currentPage+1}" style='color: white'>
                    <button class="PageButton">>></button>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="PageFooter">Copyright Academy 2019</div>
</body>
</html>