<!DOCTYPE html>
<html>

<head>
    <title>SJ SuperBowl</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/SBstyle.css"/>

    <script src="/SBscript.js"></script>
</head>

<body id="PageBody" class="current-page-1">
<div id="Header">
    <div class="LogoSearchBar">
        <img id="Logo" src="/SBlogo.png"/>
    </div>
    <div class="LoginBar">
        <form method="POST" action="/login">
            <input class="LoginBox" type="field" name="username" size="35" value="Mustafa"/>
            <input class="PassBox" type="password" name="password" size="35" value="hejhej"/>
            <input class="LoginButton" type="submit" value="Login">
        </form>
    </div>
    <div id="PageContent">
        <div id="BoxContainer">
        </div>
    </div>
</div>
<div id="PageFooter">Copyright Academy 2019</div>
</body>
</html>