<!DOCTYPE html>
<html>

<head>
    <title>SJ SuperBowl</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/SBstyle.css"/>

    <script src="/SBscript.js"></script>
</head>

<body id="PageBody" class="current-page-1">

<div id="Header">

    <div class="LogoSearchBar">
        <img id="Logo" src="/SBlogo.png"/>
        <div id="LoginBar">
            <form method="POST" action="/login">
                <input type="field" name="username" value="Mustafa"/>
                <input type="password" name="password" value="hejhej"/>
                <input type="submit" value="Login">
            </form>
        </div>
        <div id="PageContent">
            <div id="BoxContainer">

            </div>
        </div>
        <div id="PageFooter">Copyright Academy 2019</div>
</body>
</html>