<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Superbowl Commercials</title>
    <link rel="stylesheet" type="text/css" href="normalize.css"/>
    <link rel="stylesheet" type="text/css" href="SBstyle.css"/>
    <script src="SBscript.js"></script>
</head>
<body id="PageBody" class="current-page-1">
<div id="Header">
    <!-- <div id="NavBar">
         <div>
             <a href="#"
                class="menu-item"
                data-target="content-page-1"
                data-index="1">Home</a>
         </div>
         <div>
             <a href="#"
                class="menu-item"
                data-target="content-page-1"
                data-index="1">Commercials</a>
         </div>
         <div>
             <a
                     href="#"
                     class="menu-item"
                     data-target="content-page-2"
                     data-index="1"
             >Genres</a
             >
         </div>
         <div>
             <a
                     href="#"
                     class="menu-item"
                     data-target="content-page-3"
                     data-index="1"
             >Products</a
             >
         </div>
     </div>-->
    <button id="hamburger">=</button>
</div>
<div class="LogoSearchBar">
    <img id="Logo" src="SBlogo.png"/>
    <div id="SearchBar">
        <form method="POST" action="/login">
            <input type="field" name="username"/>
            <input type="password" name="password"/>
            <input type="submit" value="login">
        </form>
    </div>
</div>
<div id="PageContent">
    <div class="content content-page-1">


    </div>
</div>
<div id="PageFooter">All rights reserved to SJ Superbowl Limited 2019</div>
</body>
</html>
