<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Superbowl Commercials</title>
    <link rel="stylesheet" type="text/css" href="normalize.css"/>
    <link rel="stylesheet" type="text/css" href="SBstyle.css"/>
    <script src="SBscript.js"></script>
</head>
<body id="PageBody" class="current-page-1">
<div id="Header">
    <div id="NavBar">
        <div>
            <a href="#"
                    class="menu-item"
                    data-target="content-page-1"
                    data-index="1">Home</a>
        </div>
        <div>
            <a href="#"
                    class="menu-item"
                    data-target="content-page-1"
                    data-index="1">Commercials</a>
        </div>
        <div>
            <a
                    href="#"
                    class="menu-item"
                    data-target="content-page-2"
                    data-index="1"
            >Genres</a
            >
        </div>
        <div>
            <a
                    href="#"
                    class="menu-item"
                    data-target="content-page-3"
                    data-index="1"
            >Products</a
            >
        </div>
    </div>
    <button id="hamburger">=</button>
</div>
<div class="LogoSearchBar">
    <img id="Logo" src="SBlogo.png"/>
    <div id="SearchBar">
        <form method="POST" action="search">
            <!--<select name="Genre">
          <option value="All">All</option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Relation">Relation</option>
          <option value="Drama">Drama</option>
          <option value="Romance">Romance</option>
          <option value="Horror">Horror</option>
          <option value="Adventure">Adventure</option>
        </select>
        <select name="Category">
          <option value="All">All</option>
          <option value="Technology">Technology</option>
          <option value="Automobile">Automobile</option>
          <option value="Food">Food</option>
          <option value="Environment">Environment</option>
          <option value="Gaming">Gaming</option>
          <option value="Sport">Sport</option>
          <option value="Betting">Betting</option>
          <option value="Kids">Kids</option>
          <option value="Toys">Toys</option>
        </select>-->
            <input type="field" name="searchBar" size="100"/>
            <input type="submit" value="GO SEARCH!"/>
        </form>
    </div>
</div>
<div id="PageContent">
    <div class="content content-page-1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            fringilla risus nec orci cursus mollis. Nunc nec eros ut tellus
            efficitur gravida. Vivamus dictum turpis a mi viverra ullamcorper. Ut
            consectetur auctor urna, et auctor lectus porttitor vel. Morbi
            volutpat quam sem, et fermentum arcu vulputate in. Nulla convallis
            ornare elit et fermentum. Pellentesque a lorem sit amet tortor semper
            condimentum quis non ante. Ut pulvinar vulputate felis, non gravida
            lectus volutpat et. Ut pulvinar dolor et pellentesque tempus.
            Curabitur blandit malesuada urna et venenatis.
        </p>
    </div>
    <div class="content content-page-2">
        <p>
            Aliquam rutrum, orci eget maximus semper, est eros mattis ipsum, vitae
            ultrices quam nisi sed odio. Duis mattis, ante vel consectetur
            sodales, ligula eros gravida ipsum, congue semper ex eros nec tellus.
            Maecenas consectetur lobortis mi. Vivamus dolor tellus, convallis ac
            elementum nec, condimentum non ante. Sed scelerisque sit amet dolor
            non dignissim. Mauris pulvinar sem eu finibus dapibus. Nullam a
            placerat erat. Aliquam erat volutpat. Maecenas viverra justo eu ex
            scelerisque convallis.
        </p>
    </div>

    <div class="content content-page-3">
        <p>
            Praesent diam neque, scelerisque id mauris et, venenatis pulvinar
            lectus. Ut accumsan tristique quam eget sagittis. Fusce condimentum
            eget dolor id tristique. Nulla magna felis, ornare non accumsan sit
            amet, tempor eget elit. Phasellus diam justo, venenatis quis libero a,
            fermentum ullamcorper est. Sed ut faucibus nisi, ac consectetur felis.
            In vel orci ut arcu varius auctor at euismod tellus. Proin scelerisque
            faucibus lorem non tincidunt. Ut urna augue, porttitor et neque quis,
            tincidunt consectetur augue. Aliquam erat volutpat. Nam ut augue urna.
            Integer lacinia rutrum condimentum. Donec vel mauris id ante sagittis
            vestibulum. Quisque at justo ex. Ut vel consectetur massa. Sed sodales
            ligula euismod elit luctus sagittis.
        </p>
    </div>
</div>
<div id="PageFooter">All rights reserved to SJ Superbowl Limited 2019</div>
</body>
</html>
