=/**.Header {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  clear: both;
  position: relative;
}*/

#NavBar {
  display: flex;
  margin: 0 auto;
  align-content: space-around;
  box-shadow: 0 0 20px black;
  position: fixed;
  flex-wrap: wrap;
  margin-bottom: 1%;
  width: 800px;
}

#NavBar > * {
  flex: 1 0 auto;
}

.hidden {
  display: none;
}

#PageBody .open {
  opacity: 1;
}

/*#NavBar {
  opacity: 0;
  overflow: hidden;
  transition: all 1s;
}*/

#NavBar a {
  display: inline-block;
  text-align: center;
  padding: 14px 30px;
  margin: 0 5px;
  color: black;
  text-decoration: none;
  font: 15px;
  text-shadow: 0 0 2px gray;
}
#PageBody {
  background-image: url("Background.jpg");
  background-attachment: fixed;
  background-size: 100% auto;
  background-position: center;
  padding: 1px 0;
}

#Logo {
  padding-left: 18%;
  padding-top: 10%;
}

#SearchBar {
  margin-top: 10%;
  display: flex;
  margin: 0 auto;
  align-content: space-around;
  flex-wrap: wrap;
}

form {
  display: flex;
  margin: 0 auto;
  align-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1%;
}

#PageFooter {
  margin-top: 70%;
  padding: 10px;
  box-shadow: 0 0 20px black;
  text-align: center;
  text-shadow: 0 0 2px black;
  color: white;
}

@media only screen and (max-device-width: 768px) {
}

@media print {
}
