.rotated {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

#PageBody .close {
  opacity: 0;
}

#PageFooter {
  padding: 2px 0 0 0;
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 2px black;
  color: white;
  text-align: center;
  position: flex;
}

#PageBody {
  width: 1200px;
  margin: 0 auto;
  background-image: url(Background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100% auto;
}
#SearchBar,
#Logo {
  margin-left: 7%;
  padding-top: 1%;
}

.SearchBox {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(250, 235, 215, 0.466);
  text-shadow: 0 0 2px black;
  color: white;
}

.SearchBox:hover {
  background-color: rgba(250, 235, 215, 0.596);
  box-shadow: 0 0 30px black;
}

.SearchButton {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: rgba(0, 0, 0, 0.336);
  color: antiquewhite;
}

.SearchButton:hover {
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0 0 30px black;
}

.Pagination {
  display: flex;
  flex-basis: auto;
  justify-content: space-around;
  padding: 2px 0 0 0;
  color: white;
}

.PageButton {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: rgba(0, 0, 0, 0.336);
  color: antiquewhite;

  align-content: center;
}

.PageButton:hover {
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0 0 30px black;
}

#PageContent {
  padding: 1px 0;
}

#PageNavigation {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-content: space-around;
  color: white;
  font: 50px;
  text-shadow: 0 0 10px black;
}

#PageNavigation > * {
  flex: 1 0 auto;
}

#PageNavigation a {
  display: block;
  text-align: center;
  padding: 12px 30px;
  margin: 0 5px;
  text-decoration: none;
  color: antiquewhite;
  text-shadow: 0 0 10px black;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content > .dropDescript {
  width: 30%;
  background-color: rgba(0, 0, 0, 0.479);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(216, 214, 211, 0.247);
}

#hamburger {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: rgba(0, 0, 0, 0.336);
  color: antiquewhite;
}

#hamburger:hover {
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.555);
}

#BoxContainer {
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-shadow: 0 0 2px black;
  color: antiquewhite;
}

.Box {
  width: 20%;
}

.VideoBox {
}

.TextBox {
  color: lightblue;
}

#PageNavigation {
  opacity: 1;
  overflow: hidden;
  transition: all 1s;
}

.LoginBar {
  margin-left: 17%;
  padding-top: 1%;
}

.LoginBox:hover {
  background-color: rgba(250, 235, 215, 0.596);
  box-shadow: 0 0 30px black;
}

.LoginBox {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(250, 235, 215, 0.466);
  text-shadow: 0 0 2px black;
  color: white;
}

.PassBox:hover {
  background-color: rgba(250, 235, 215, 0.596);
  box-shadow: 0 0 30px black;
}

.PassBox {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(250, 235, 215, 0.466);
  text-shadow: 0 0 2px black;
  color: white;
}

.LoginButton {
  padding: 0.75rem 1.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: rgba(0, 0, 0, 0.336);
  color: antiquewhite;
}


.pkImage
{
    width: 20px;
}

.LoginButton:hover {
  background-color: rgba(0, 0, 0, 0.836);
  box-shadow: 0 0 30px black;
}

@media only screen and (max-device-width: 768px) {
}

@media print {
}
