.rotated {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

#PageBody .open {
  opacity: 1;
}

#PageFooter {
  padding: 2px 0 0 0;
  box-shadow: 0 0 20px black;
  text-shadow: 0 0 2px black;
  color: white;
  text-align: center;
  margin-top: 6%;
  position: relative;
}

#PageBody {
  width: 1200px;
  margin: 0 auto;
  background-image: url(Background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: 100% auto;
}
#SearchBar,
#Logo {
  margin-left: 10%;
  padding-top: 2%;
}

#LoginBar
{
  margin-left: 30%;
  padding-top: 2%;
}

#PageContent {
  padding: 1px 0;
}

#PageNavigation {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-content: space-around;
  color: white;
  font: 13px;
  text-shadow: 0 0 10px black;
}

#PageNavigation > * {
  flex: 1 0 auto;
}

#PageNavigation a {
  display: block;
  text-align: center;
  padding: 12px 30px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px black;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(216, 214, 211, 0.247);
}

#hamburger {
  color: white;
  text-shadow: 0 0 10px black;
  border: none;
  background-color: antiquewhite;
}

#BoxContainer {
  margin-top: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Box {
  color: yellow;
  width: 25%;
}

.VideoBox {
  color: yellow;
}

.TextBox {
  color: lightblue;
}

#PageNavigation {
  opacity: 0;
  overflow: hidden;
  transition: all 1s;
}

@media only screen and (max-device-width: 768px) {
}

@media print {
}
